.select2-container--default .select2-selection--single {
  height: 50px;
  border-radius: 0.375rem;
  border: 1px solid #ced4da;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 36px;
}